services:
  reverse-proxy:
    container_name: ${COMPOSE_PROJECT_NAME}-reverse-proxy
    image: caddy:2.10.2-alpine
    environment:
      DOMAIN_NAME: ${DOMAIN_NAME:-localhost}
      BACKEND_HOST: ${REVERSE_PROXY_BACKEND_HOST:-"backend:80"}
      FRONTEND_HOST: ${REVERSE_PROXY_FRONTEND_HOST:-"frontend:5173"}
    ports:
      - "${REVERSE_PROXY_HTTPS_PORT:-443}:443"
    volumes:
      - type: bind
        source: ./docker/reverse-proxy/config/Caddyfile
        target: /etc/caddy/Caddyfile
        read_only: true
    restart: always
    networks:
      - backend-network
      - frontend-network
  backend:
    container_name: ${COMPOSE_PROJECT_NAME}-backend
    build:
      context: .
      dockerfile: ./docker/backend/Dockerfile
      target: ${BACKEND_BUILD_TARGET:-production}
      args:
        WITH_XDEBUG: ${BACKEND_WITH_XDEBUG:-false}
    image: ${COMPOSE_PROJECT_NAME}-backend
    volumes:
      - type: bind
        source: ./src/backend
        target: /app
    environment:
      PHP_IDE_CONFIG: "serverName=${BACKEND_IDE_CONFIG_SERVER_NAME:-php}"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    working_dir: /app
    tty: true
    restart: always
    networks:
      - backend-network
  frontend:
    container_name: ${COMPOSE_PROJECT_NAME}-frontend
    build:
      context: ./src/frontend
      dockerfile: ../../docker/frontend/Dockerfile
    image: ${COMPOSE_PROJECT_NAME}-frontend
    volumes:
      - type: bind
        source: ./src/frontend
        target: /app
    working_dir: /app
    tty: true
    restart: always
    networks:
      - frontend-network
  database:
    container_name: ${COMPOSE_PROJECT_NAME}-database
    image: postgres:18.1-alpine3.22
    environment:
      POSTGRES_USER: '${DATABASE_USER}'
      POSTGRES_PASSWORD: '${DATABASE_PASSWORD}'
      POSTGRES_DB: '${DATABASE_DB}'
    volumes:
      - type: volume
        source: database-data
        target: /var/lib/postgresql/data
    restart: always
    networks:
      - backend-network

volumes:
  database-data:
    driver: local

networks:
  backend-network:
    driver: bridge
  frontend-network:
    driver: bridge
