services:
  backend:
    container_name: ${COMPOSE_PROJECT_NAME}-backend
    build:
      context: .
      dockerfile: ./docker/backend/Dockerfile
      target: ${BACKEND_BUILD_TARGET:-production}
      args:
        WITH_XDEBUG: ${BACKEND_WITH_XDEBUG:-false}
    image: ${COMPOSE_PROJECT_NAME}-backend
    ports:
      - "${BACKEND_PORT:-8000}:80"
    volumes:
      - type: bind
        source: ./src/backend
        target: /app
    environment:
      PHP_IDE_CONFIG: "serverName=${BACKEND_IDE_CONFIG_SERVER_NAME:-php}"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    working_dir: /app
    tty: true
    restart: unless-stopped
    networks:
      - backend-network
  frontend:
    container_name: ${COMPOSE_PROJECT_NAME}-frontend
    build:
      context: ./src/frontend
      dockerfile: ../../docker/frontend/Dockerfile
    image: ${COMPOSE_PROJECT_NAME}-frontend
    volumes:
      - type: bind
        source: ./src/frontend
        target: /app
    ports:
      - "${FRONTEND_PORT:-5173}:5173"
    working_dir: /app
    tty: true
    networks:
      - frontend-network

networks:
  backend-network:
    driver: bridge
  frontend-network:
    driver: bridge
